<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= javascript_include_tag "turbo" ,type: "module" %>
    <%= csrf_meta_tags %>
     <%= csp_meta_tag %>
     <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <%= javascript_importmap_tags %>

  </head>

  <body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Blog4</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Existing Users', users_index_path, class: "nav-link#{" active" if controller_name == "users"}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Show Blogs', blogs_path, class: "nav-link#{" active" if controller_name == "blogs"}" %>
          </li>
        </ul>
      </div >
      <% if current_user %>
        <span class="navbar-text">Hello <%= current_user.user_name %></span>&nbsp; &nbsp;
        <%= link_to 'User profile', user_path(current_user),  class: "btn btn-primary d-flex" %>&nbsp;
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-secondary d-flex" %>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: "btn btn-primary d-flex" %>&nbsp;
        <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-secondary d-flex" %>
      <% end %>
    </div>
  </nav>

  <!-- 用来提示信息-->

  <% if notice%>
      <div style= "margin: 0" class="alert alert-success alert-dismissible fade show" role="alert">
        <p class="notice  alert-success"  ><%= notice %></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  <%end %>
  <%if alert %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p class="notice  alert-success"  ><%= alert %></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  <%end %>

<!--  页面标题-->

<!--js逻辑被吞掉了可能-->
  <div class="container">
    <div class="row">
<!--      左半边-->
      <div class="col">
        <div >
          <div style= "margin: 0" class="alert alert-success alert-dismissible fade show" role="alert">
            <p class="notice  alert-success"  >
              <% if current_user %>
                <%= current_user.user_name %> Logged in.<br/>
                <%#= link_to 'Logout', logout_users_path %>
              <% else %>Please <%= link_to 'Login', new_user_session_path %>
              <% end %>
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <% image_count = 10 %>
          <% images = (0..image_count).map { |i| "carousel/#{i}.jpg" } %>

          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-inner">
              <% images.each_with_index do |image, index| %>
                <div class="carousel-item <%= 'active' if index.zero? %>">
                  <%= image_tag image, class: 'd-block w-100', style: 'max-height: 800px;' %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

          </div>


          <%#= link_to "Sign up", new_user_registration_path%>
        </div>
      </div>
      <div class="col">
        <div id="main-panel">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>


<!-- 页面尾巴-->
    <footer class="py-5">
      <hr/>
      Copyright hzt &copy; 2023. All rights reserved.
      <br/>
      <strong><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-kiss" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M12.493 13.368a7 7 0 1 1 2.489-4.858c.344.033.68.147.975.328a8 8 0 1 0-2.654 5.152 8.58 8.58 0 0 1-.81-.622Zm-3.731-3.22a13 13 0 0 0-1.107.318.5.5 0 1 1-.31-.95c.38-.125.802-.254 1.192-.343.37-.086.78-.153 1.103-.108.16.022.394.085.561.286.188.226.187.497.131.705a1.892 1.892 0 0 1-.31.593c-.077.107-.168.22-.275.343.107.124.199.24.276.347.142.197.256.397.31.595.055.208.056.479-.132.706-.168.2-.404.262-.563.284-.323.043-.733-.027-1.102-.113a14.87 14.87 0 0 1-1.191-.345.5.5 0 1 1 .31-.95c.371.12.761.24 1.109.321.176.041.325.069.446.084a5.609 5.609 0 0 0-.502-.584.5.5 0 0 1 .002-.695 5.52 5.52 0 0 0 .5-.577 4.465 4.465 0 0 0-.448.082Zm.766-.087-.003-.001-.003-.001c.004 0 .006.002.006.002Zm.002 1.867-.006.001a.038.038 0 0 1 .006-.002ZM6 8c.552 0 1-.672 1-1.5S6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8Zm2.757-.563a.5.5 0 0 0 .68-.194.934.934 0 0 1 .813-.493c.339 0 .645.19.813.493a.5.5 0 0 0 .874-.486A1.934 1.934 0 0 0 10.25 5.75c-.73 0-1.356.412-1.687 1.007a.5.5 0 0 0 .194.68ZM14 9.828c1.11-1.14 3.884.856 0 3.422-3.884-2.566-1.11-4.562 0-3.421Z"/>
      </svg>xjl</strong>
    </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
