<div id="comment_<%= comment.id %>" class="row">
  <div class="col">
    Posted by <%= comment.user.user_name %>
    <%= time_ago_in_words(comment.created_at) %> ago.

    <div class="card">
      <div class="card-body">
        <%= comment.content %>
      </div>
    </div>
    <hr/>
    <%= button_to "Delete", blog_comment_path(comment.blog.id,comment.id), method: :delete,class: "btn btn-primary"%>
  </div>
</div>
<hr>
