<div id="<%= dom_id blog %>">
  <div class="card-body">
    <h1 class="card-title"><%= link_to blog.title, blog,class: "no_under_line"%></h1>
    <h3 class="card-subtitle mb-2 text-muted">
      Post by <%= link_to blog.user.user_name, users_show_path,class: "no_under_line"%> <%= time_ago_in_words blog.created_at %> ago.
    </h3>
    <p class="card-text blog_content_text fst-italic">
      <%= blog.content %>
    </p>
    <hr/>
  </div>

</div>
<style>
  .no_under_line{
      text-decoration: none;
  }
  .blog_content_text{
      font-size: larger;
      font-family: "Comic Sans MS", sans-serif;
  }
</style>
