<%#include Devise::Controllers::Helpers %>
<h2>Profile</h2>

<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h1 class="card-title"><%=  @user.user_name%></h1>
    <h3 class="card-subtitle mb-2 text-body-secondary"><%= @user.email %></h3>
    <p class="card-text"><%= @user.description ? @user.description : ( "这个人很懒，什么也没有留下")%></p>
<!--    <p class="card-text"><%#= @user.description%></p>-->
<!--    <a href="#" class="card-link">Card link</a>-->
<!--    <a href="#" class="card-link">Another link</a>-->
      <div>
        <h4 class="card-subtitle mb-2 text-muted">
          粉丝数量：<%= @user.followers.count %>人
        </h4>
      </div>
    <div>
      <h4 class="card-subtitle mb-2 text-muted">
        还关注了<%= @user.followings.count %>人
      </h4>
    </div>
    <div>
      <% if not @current_user.following?(@user) %>
      <%=  button_to "Follow", follow_path(@user.id),method: :post, class: "btn btn-primary", remote: true ,data: { turbo: false } %>
        <%#= button_to "Follow", "/follow/#{@user.id}",method: :post,class: "btn btn-primary" ,remote:true,data: { turbolinks: false }%>
      <%else %>
        <%=  button_to "UnFollow", "/unfollow/#{@user.id}",method: "delete",class: "btn btn-primary" ,data: { turbolinks: false } %>
      <% end %>
    </div>
<hr/>
    <% if @current_user  == @user %>
      <%= link_to "Edit", edit_user_registration_url,class: "btn btn-primary" %>
      <% else%>
      <%= link_to "Edit", edit_user_registration_url,class: "btn btn-primary not_edit" %>
      <% end%>
    <%= link_to "Back", blogs_path,class: "btn btn-secondary" %>
  </div>
</div>
